
<h4>Post:</h4>
<br/>
<%= @row['content']%>
<br/>
<br/>
<span style="font-size: 75%; color: #999">Added at: <%= @row['created_time']%>
 <br/>
 Autor: <%= @row['autor']%></span>
 <br/>
 <hr/>
 <h4>Comments:</h4>
 <br/>
 <br/>
 <% @comments.each do |comment| %>
 <p>
 	<%= comment['content']%>
 	<br/>
 	<br/>
 	<span style="font-size: 75%; color: #999">Added at: <%= comment['created_time']%>
 	<br/>
 	Autor: <%= comment['autor']%></span>
 	<br/>
 	<hr/>

 </p>	
 <% end%>
 <form action="/details/<%=@row['id']%>" method="POST">
  <textarea name="content" class="form-control" rows="6" placeholder="Enter your comment"></textarea >
  <br/>
  <input name="autor" type="text" class="form-control" id="exampleInputName2" placeholder="Enter your name">
  <br/>
  <button type="submit" class="btn btn-primary">Отправить</button>
</form>



